.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  height: auto;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.covered {
  background-image: url('../img/card-back.png')
}

.hand {
  overflow: auto;
}

body {
  background-image: url('../img/teak.jpeg');
  color: white;
}

#board {
  background-color: #004700;
  height: 600px;
  width: 600px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
  padding-top: 35px;
}

.doubleDown {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  left: 30px;
}